extends layouts/main.pug
include mixins/videoBlock
include mixins/videoPlayer

block content
    +videoPlayer({src : video.fileUrl})
    .video__info
        if(video.creator.id == loggedUser.id)
            a(href=routes.editVideo(video.id)) Edit Video
        h3.video__title=video.title
        if video.views === 0 || video.views === 1
            span.video__view #{video.views} view
        else
            span.video__view #{video.views} views
        p.video__description=video.description
        .video__author
            | Uploaded By
            a(href=routes.userDetail(video.creator.id))=video.creator.userName
    .video__comments
        if loggedUser.id
            form.add__comment#jsCommentForm
                input(type="text" placeholder="Enter Comment")
        if video.comments.length === 1 || video.comments.length === 0
            span.video__comments-number
                span#jsCommentsNumber=video.comments.length
                |     comment
        else
            span.video__comments-number
                span#jsCommentsNumber=video.comments.length
                |     comments
        ul.video__comments-list#jsCommentsList
            each comment in video.comments.reverse()
                li
                    span=comment.text
                    if loggedUser._id == comment.creator.toString()
                            form.jsDeleteComment
                                input(type="button" value="Delete")
    
